@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F5;
}

.block {
  padding: 0px 440px 0px 300px;
  position: relative;
}
.block header {
  position: fixed;
  bottom: 18px;
  z-index: 1;
}
.block header nav {
  display: inline-block;
}
.block header nav .nav-btn {
  background-color: white;
  text-decoration: none;
  color: #1B153E;
  border: 2px solid #1B153E;
  padding: 17px 40px 17px 40px;
  border-right: none;
  margin-right: -4px;
}
.block header nav .nav-btn:hover {
  background-color: #F7F7F5;
}
.block header nav .nav-btn:last-child {
  border-right: 2px solid #1B153E;
}
.block .left-block {
  width: 300px;
  height: 100vh;
  background: url("../img/fruit-combo.png") 0% 70%/55% 55% no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
}
.block .left-block img {
  position: relative;
  left: 60px;
  top: 40px;
}
.block .right-block {
  width: 420px;
  position: fixed;
  right: 0px;
  top: 0px;
}
.block .right-block img {
  width: 500px;
  height: 100vh;
}
.block .block-content {
  margin: auto;
}
.block .block-content .block-language {
  margin-top: 40px;
}
.block .block-content .block-language a:first-child {
  font-weight: bold;
  outline: 1px solid #1B153E;
  padding: 10px;
}
.block .block-content .block-language a:nth-child(2),
.block .block-content .block-language a:last-child {
  padding: 5px;
  color: gray;
}
.block .block-content .block-language a:nth-child(2):hover,
.block .block-content .block-language a:last-child:hover {
  color: #1B153E;
}
.block .block-content .block-language a {
  text-decoration: none;
  color: #1B153E;
}
.block .block-content h1 {
  margin-top: 200px;
  color: #1B153E;
  font-size: 50px;
  margin-bottom: 0px;
}
.block .block-content h2 {
  display: inline-block;
  font-size: 20px;
  color: #E27C7C;
  margin: 10px 0px 40px 0px;
}
.block .block-content pre {
  font-size: 18px;
  color: #1B153E;
  letter-spacing: -1px;
  white-space: pre-wrap;
}
.block .block-content pre a {
  text-decoration: none;
  color: #1B153E;
  font-weight: bold;
}
.block .block-content pre a:hover {
  background-color: white;
}
.block .block-content .btn {
  display: inline-block;
  margin-top: 10px;
  background-color: white;
  text-decoration: none;
  color: #1B153E;
  border: 2px solid #1B153E;
  padding: 7px 12px 7px 12px;
}
.block .block-content .btn:hover {
  background-color: #F7F7F5;
}
.block .block-content hr {
  margin: 0px;
  margin-top: 60px;
  background-color: #1B153E;
  border: 1px solid #1B153E;
  width: 60px;
}
.block footer {
  margin-top: 40px;
}
.block footer pre:first-child a {
  text-decoration: none;
  color: #1B153E;
  font-size: 16px;
  font-weight: bold;
  white-space: pre-wrap;
}
.block footer pre:first-child a:hover {
  background-color: white;
}
.block footer pre:last-child {
  display: inline-block;
  white-space: pre-wrap;
  margin-top: 0px;
  margin-bottom: 100px;
}
.block footer pre:last-child a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  opacity: 0.4;
}
.block footer pre:last-child a:hover {
  opacity: 0.8;
}

@media (max-width: 1000px) {
  body {
    margin: 0px;
  }

  .block {
    display: block;
    padding: 0px;
  }
  .block header {
    position: fixed;
    z-index: 1;
    width: 100vw;
  }
  .block header nav {
    display: block;
    position: relative;
    width: 98%;
    margin: auto;
    bottom: -18px;
  }
  .block header nav a {
    display: inline-block;
    position: relative;
    width: 19.5%;
    text-align: center;
  }
  .block header nav .nav-btn {
    padding: 10px 0px 10px 0px;
  }
  .block .left-block {
    width: 100%;
    height: 300px;
    background: none;
    position: relative;
  }
  .block .right-block {
    position: relative;
    width: 100%;
    left: 0px;
  }
  .block .right-block img {
    width: 100%;
    height: auto;
  }
  .block .block-content {
    margin: 0px;
  }
  .block .block-content h1 {
    margin-top: 50px;
  }
}
@media (max-width: 300px) {
  .block header {
    display: inline-block;
  }
  .block header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block header nav .nav-btn {
    padding: 8px 0px 8px 0px;
    font-size: 10px;
  }
}